.upvote, .downvote {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ddd;
  color: #000;

  &.active {
    color: #ff0000;
  }

  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}